.box {
  background: #fff;
  border-radius: 7px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
img {
  width: 100%;
}
.box h2 {
  font-size: 20px;
  text-align: center;
  margin-top: 0px;
}

.list-box {
  display: flex;
  gap: 12px;
  align-items: center;
  margin: 12px 0;
  border-top: 1px solid #f1e5c9;
  padding-top: 12px;
}
.user-photo {
  flex-basis: 80px;
}
.user-photo img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
}
.user-details {
  flex: 1;
}
.user-details p {
  margin: 0px 0 7px;
  font-size: 17px;
}
.user-details span {
  color: darkgray;
}
.clear-btn {
  padding: 9px 10px;
  background: #ca9c31;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}
.clear-btn:hover {
  background: #5f74ca;
}
